.indexHome {
  &__irNoticias {
    color: $BlueLink1;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    line-height: 0;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    font-size: max(1rem, min(1.5rem,3vw));
    &:hover {
      color: $BlueLink2;
    }
  }
}
