.noticias {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 25px 0;
    width: 100%;
  }

  &__filtrar {
    position: relative;
    height: 45px;
    width: 125px;
  }

  &__filtrar-default {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    top: 0px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .fas {
      font-size: 25px;
    }
  }

  &__filtrar-1 {
    position: absolute;
    top: 45px;
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__filtrar-2 {
    position: absolute;
    top: 90px;
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (max-width: $w-700) {
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;
    }
  }
  @media screen and (max-width: $w-550) {
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }

  @media screen and (max-width: $w-400) {
    &__head {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
    }

    &__buscar {
      margin-top: 10px;
    }

    &__filtrar {
      margin-top: 10px;
    }
  }
}
