.noticias {
  &__head {
    display: flex;
    align-items: center;
    padding: 0 100px;
    margin: 25px 0;
    width: 100%;
  }

  &__filtro {
    outline: none;
  }

  @media screen and (max-width: $w-700) {
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;
    }
  }
  @media screen and (max-width: $w-550) {
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }

  @media screen and (max-width: $w-400) {
    &__head {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
    }

    &__buscar {
      margin-top: 10px;
    }
    &__filtro {
      margin-top: 10px;
    }
  }
}
