//Pantone to HEX -> for 2138-C https://www.pantone.com/eu/es/color-finder/2138-C
$Pantone_300_C: #005EB8;
$Pantone_306_C: #00B5E2;
$Pantone_356_C: #007A33;
$Pantone_471_C: #B86125;
$Pantone_540_C: #003057;
$Pantone_649_C: #DBE2E9;
$Pantone_652_C: #7D9CC0;
$Pantone_732_C: #623412;
$Pantone_804_C: #FFAA4D;
$Pantone_2138_C: #647692;
$Pantone_2587_C: #8246AF;
$Pantone_4665_C: #CDA788;
$Pantone_7481_C: #00B74F;
$Pantone_7524_C: #A45248;
$Pantone_7545_C: #425563;

//widths
$w-1000: 1000px;
$w-950: 950px;
$w-900: 900px;
$w-850: 850px;
$w-800: 800px;
$w-750: 750px;
$w-700: 700px;
$w-650: 650px;
$w-600: 600px;
$w-550: 550px;
$w-500: 500px;
$w-450: 450px;
$w-400: 400px;
$w-300: 300px;
