.atencion-sintomas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  $relacionAspectoImagen: 1.7777; // 16:9
  $widthImagen: 13vw;
  $heightImagen: $widthImagen * $relacionAspectoImagen;
  $minWidthImagen: 150px;
  $minHeightImagen: $minWidthImagen * $relacionAspectoImagen;
  $fontSize: 1.35em;
  //cantidad de columnas de sintomas mostrados segun el tamaño de la pantalla
  $columnas1: 7;
  $columnas2: 5;
  $columnas3: 4;
  box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  &__contacto {
    padding-left: 15px;
    box-shadow: -0.5px 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  &__contacto-titulo {
    font-size: $fontSize * 1.2;
    font-weight: bold;
    color: $Pantone_540_C;
    font-style: italic;
    text-align: center;
  }

  &__contacto-content {
    width: 100%;
    position: relative;
  }
  &__nombre {
    font-size: $fontSize;
    font-weight: bold;
    color: $Pantone_540_C;
    line-height: $fontSize;
  }

  &__hora {
    font-size: $fontSize;
    color: white;
    font-weight: bold;
    background-color: $Pantone_540_C;
    outline: none;
    border: none;
    margin-top: $fontSize/3;
    padding: $fontSize/5 $fontSize/3;
    border-radius: $fontSize;
    &--noCard {
      margin-top: $fontSize;
      margin-bottom: $fontSize;
      background-color: $Pantone_306_C;
    }
    &:hover {
      opacity: 0.95;
    }
    &:active {
      transform: scale(0.99);
    }
  }

  &__cargo {
    margin-top: 0;
    line-height: 0;
    font-size: $fontSize * 0.8;
    color: $Pantone_540_C;
    font-style: italic;
    font-weight: bold;
    opacity: 0.8;
  }

  &__sintomas-titulo {
    font-size: $fontSize * 1.2;
    font-weight: bold;
    color: $Pantone_540_C;
    font-style: italic;
    text-align: center;
  }
  &__sintomas {
    margin-top: 1.5 * $fontSize;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat($columnas1, $heightImagen/$columnas1);
  }

  &__imagen {
    width: $widthImagen;
    height: $heightImagen;
    min-width: $minWidthImagen !important;
    min-height: $minHeightImagen !important;
    object-fit: fill;
    display: block;
    margin-right: auto;
    margin-left: auto;
    grid-row: 1/-1;
  }
  //elemento dentro del componente AtencionSintomas
  &__sintomas > p {
    font-size: $fontSize;
    font-family: "Agency FB";
    max-height: auto;
    color: white;
    margin: 1.5px;
    font-weight: bold;
    text-align: center;
    border-radius: $fontSize * 0.4;
    background-color: $green1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: $fontSize * 0.1;
    margin-left: $fontSize * 0.1;
  }

  &__sintomas > p:nth-child(2n) {
    background-color: $pink1;
  }
  &__sintomas > p:nth-child(n + #{$columnas1 + 2}) {
    grid-column: 1/-1;
    min-height: $heightImagen/$columnas1;
  }

  //se ajustara el numero de columnas (sintomas mostrados) para adaptarlos a la pantalla
  @media screen and (max-width: 1200px) {
    &__sintomas {
      grid-template-rows: repeat($columnas2, $heightImagen/$columnas2);
    }
    &__sintomas > p:nth-child(n + #{$columnas2 + 2}) {
      grid-column: 1/-1;
      min-height: $minHeightImagen/$columnas2;
    }
  }
  //se ajustara el numero de columnas (sintomas mostrados) para adaptarlos a la pantalla

  @media screen and (max-width: 1000px) {
    &__sintomas {
      grid-template-rows: repeat($columnas3, $minHeightImagen/$columnas3);
    }
    &__sintomas > p:nth-child(n + #{$columnas3 + 2}) {
      grid-column: 1/-1;
      min-height: $minHeightImagen/$columnas3;
    }
  }
  //se ajustara el numero de columnas (sintomas mostrados) para adaptarlos a la pantalla
  @media screen and (max-width: 480px) {
    &__sintomas {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__sintomas > p:nth-child(n + #{$columnas3 + 2}) {
      min-height: auto;
    }
    &__sintomas > p {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &__imagen {
      margin-bottom: 5px;
    }
  }

  @media screen and (max-width: 900px) {
    display: block;

    &__contacto {
      margin-top: 5px;
      padding-top: 10px;
      box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
      padding-left: 0;
    }
  }
}
