.salud-atencion {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  background-image: url("/salud/fondo-salud.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__opciones-grupo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__opcion {
    font-family: "Agency FB";
    color: white;
    font-size: max(18px, min(3vw, 29px));
    flex: 0 0 auto;
    margin: 2px;
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      transform: scale(0.99);
    }
  }
  &__mensaje-especialidad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__mensaje-alerta {
    text-align: center;
    font-size: 1em;
    color: $Pantone_540_C;
    font-weight: bold;
  }

  &__logo-alerta {
    width: 5%;
    min-width: 60px;
    height: auto;
  }
}
