.fono-audiologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  $widthImagen: 310px;
  $heightImagen: $widthImagen * 572/333;
  $fontSize: 1.45em;
  box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  &__contacto {
    padding-left: 15px;
    box-shadow: -0.5px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  &__sintomas-titulo {
    font-size: $fontSize * 1.2;
    font-weight: bold;
    color: $Pantone_540_C;
    font-style: italic;
    text-align: center;
  }
  &__sintomas {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, $widthImagen/5.9);
    grid-auto-rows: $widthImagen/5.9;
  }

  &__imagen {
    width: 30%;
    min-width: $widthImagen * 0.59;
    grid-row: 1/-1;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 5px;
  }
  &__sintoma {
    font-size: $fontSize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Agency FB";
    max-height: auto;
    color: white;
    margin: 1.5px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    margin-right: 5px;
    background-color: blue;
    grid-column: 1/-1;
  }

  &__sintoma:nth-child(-n + 7) {
    grid-column: 2/3;
  }
  @media screen and (max-width: 1100px) {
    &__sintoma {
      font-size: $fontSize * 0.9;
    }
  }

  @media screen and (max-width: 850px) {
    &__sintoma {
      font-size: $fontSize * 0.8;
    }
  }
  @media screen and (max-width: 750px) {
    display: block;
    &__sintoma {
      grid-column: 1/-1 !important;
    }
    &__sintoma:nth-child(-n + 5) {
      grid-column: 2/3 !important;
    }
    &__imagen {
      min-width: $widthImagen * 0.45045;
    }
    &__sintomas {
      grid-template-rows: repeat(4, $widthImagen * 0.195195);
    }

    &__contacto {
      margin-top: 5px;
      padding-top: 10px;
      box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
      padding-left: 0;
    }
  }
}
