@import "./layout/navbar.scss";
@import "./login/login.scss";
@import "./noticias/noticias.scss";

.index-noticias-scroll {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.index-noticias {
  contain: size;
}

@media screen and (max-width: 576) {
  .index-noticias {
    contain: none !important;
    width: max-content;
  }
}

.mr-auto {
  margin-right: auto;
}
